* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 20px auto;
    width: 450px;
    background-color: lightyellow;
    border: paleturquoise ridge 5px;
    color: rgba(2, 3, 15, 0.5);
    margin: 10px auto;
    padding: 20px;
}

.menu {
    padding: 20px;
    background-color: rgb(221, 163, 143);
    border: black solid 2px;  
}

li {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}